body {
  background-color: #54cbca;
}
.header {
  width: 100wv;
  height: 100px;
  padding: 30px 30px 10px 30px;
  border-bottom: 2px solid #fdfdfd;
  margin-bottom: 20px;
}
.header_h1 {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #e51a1a;
  text-align: center;
}
.link {
  text-decoration: none;
  color: #fed267;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.main_item {
  width: 280px;
  height: 400px;
  border-radius: 10px;
  background-color: #fed267;
  padding: 20px;
  box-shadow: 15px 15px 15px rgb(57, 56, 56);
}
.main_item:hover {
  scale: 1.03;
  box-shadow: 15px 15px 15px rgb(251, 251, 251);
}
.main_h2 {
  color: #e51a1a;
}
.header_h2:hover {
  color: #e51a1a;
  animation-name: h2-start;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}
@keyframes h2-start {
  0% {
    color: #fed267;
  }
  25% {
    color: #e51a1a;
  }
  50% {
    color: #fed267;
  }
  75% {
    color: #e51a1a;
  }
  100% {
    color: #fed267;
  }
}

@media Screen and (min-width: 375px) {
  .container {
    padding: 30px 20px 40px 20px;
  }
  .main_item {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .link {
    font-size: 24px;
  }
  .main_h2 {
    margin-top: 30px;
  }
}
@media Screen and (min-width: 768px) {
  .main {
    display: flex;
  }
  .link {
    font-size: 34px;
  }
}
