@font-face {
  font-family: "Caveat-Bold";
  src: url("https://gregory0401.github.io/Tests/font/Caveat-Bold.ttf");
}
.container-wrapper {
  padding: 0 30px 40px 30px;
}
.back {
  color: #070707;
  text-align: left;
  font-size: 22px;
}
.main_back {
  margin-bottom: 40px;
  color: #fdfdfd;
}
.main_back:hover {
  color: #e51a1a;
}
.main_back:hover .main_span {
  scale: 1.03;
}

.quiz-frame {
  width: 340px;
  height: 600px;
  background-color: #fad065;
  border-radius: 20px;
  box-shadow: 15px 15px 15px rgb(57, 56, 56);
}
.test1_container {
  width: 340px;
  margin: 0 auto;
}
.test1_h2 {
  text-align: center;
  font-size: 40px;
  color: #fdfdfd;
  margin-bottom: 20px;
  text-shadow: 5px 5px 4px #5d5e5f;
  font-family: "Caveat-Bold";
}
.daddy {
  width: 340px;
  height: 600px;
  background-color: #fad065;
  border-radius: 20px;
  box-shadow: 15px 15px 15px rgb(57, 56, 56);
}
